/**
* style.css - general styles
**/

/* remove default all uppercase... */
body {
	text-transform: none;
	color:#444;
	font-size: 100%;
}

/* headings */
h3, h4, h5, h6 {
	color: #222;
}

h3 {
	padding: 5px 10px 5px 10px;
	font-size: 1.15em;
}

h4 {
	padding: 5px 10px 5px 10px;
	font-size: 1.10em;
}

h5 {
	font-size: 1em;
}

/* page content */
.page-content {
	padding: 0 15px 0 15px;
}

/* max size of map canvas */
#map {
	height: 100%
}

/* size and center avatar image */
#avatar img {
	z-index: 25;
	width: 50px;
  height: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}
